*,
*::before,
*::after { box-sizing: border-box; }

html { min-width: 20rem; scroll-behavior: smooth; }
body { margin: 0; }
img, svg { display: block; max-width: 100%; }
button, input, select, textarea { font: inherit; }
button, a { -webkit-tap-highlight-color: transparent; }
h1, h2, h3, p { margin-block-start: 0; }
